<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="local.kyungmin_wms.mapper.StockMapper">

  <select id="findById" resultType="Stock">
    SELECT *
    FROM Stock where id = #{id}
  </select>


  <select id="findAll" resultType="Stock">
    SELECT *
    FROM Stock s
    JOIN Product p
    ON s.product_id = p.id
    JOIN Company c
    ON p.company_id = c.id
    <where>
      <if test="product != null"> <!--product 존재하는지 검증 존재하면 외래키 -->
        and product = #{product.id}
      </if>
      <if test="stockSearch.itemName != null and !itemSearch.itemName.equals('')"> <!-- 값이 있을 경우 , 문자열이므로 ''도 비교해야됨-->
        and item_name like concat('%' , #{itemSearch.itemName} , '%')
      </if>
      <if test="itemSearch.maxPrice != null and !itemSearch.maxPrice.equals('')"> <!-- 값이 있을 경우-->
        and price &lt;= #{itemSearch.maxPrice}
      </if>
      <if test="itemSearch.maxStockQuantity != null and !itemSearch.maxStockQuantity.equals('')">
        and stock_quantity &lt;= #{itemSearch.maxStockQuantity}
      </if>
    </where>
  </select>




  <!--누가 상품 등록했는지는 나중에 , 로그인까지 구현해야됨-->
  <update id="update">
    update Stock
    set quantity = #{stock.quantity}  , mod_date = #{LocalDateTime.now()}
    where id = #{id}
  </update>






 <!-- <resultMap id="itemsWithMember" type="Item">
    <id column="id" property="id"/>
    &lt;!&ndash; column : 테이블의 칼럼명 , property : 자바 도메인의 필드명&ndash;&gt;
    <result column="item_name" property="itemName"/>
    <result column="price" property="price"/>
    <result column="stock_quantity" property="stockQuantity"/>
    <result column="register_date" property="registerDate"/>
    <result column="update_date" property="updateDate"/>
    <association property="member" javaType="Member" column="member_id">
      <id property="id" column="id"/>
      <result property="loginEmail" column="login_email"/>
      <result property="password" column="password"/>
      <result property="memberName" column="member_name"/>
      <result property="businessName" column="business_name"/>
      <result property="businessNum" column="business_num"/>
    </association>
  </resultMap>-->



</mapper>
  <!-- 그냥 조인만 하면 전부 다 가져오므로 member_id가 #{id}인 즉 한 회원정보만 가져오게-->
  <!--왜 Item일까 그냥 리턴값  하나하나가 Itemdㅣㄴ가 -->