<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="local.kyungmin_wms.mapper.StockMapper">

  <select id="findById" resultType="Stock">
    SELECT *
    FROM Stock where id = #{id}
  </select>

  <resultMap id="stocks" type="Stock">
    <id column="stock_id" property="id"/>
    <!-- column : 테이블의 칼럼명 , property : 자바 도메인의 필드명-->
    <result column="stock_code" property="stockCode"/>
    <association property="product" javaType="Product" column="product_id">
      <id property="id" column="product_id"/>
      <result column="product_name" property="productName"/>
      <result column="store_temperature" property="storeTemperature"/>
      <result column="product_type" property="productType"/>
      <association property="company" javaType="Company" column="company_id">
        <association property="member" javaType="Member" column="member_id">
          <id column="member_id" property="id"/>
          <result column="name" property="name"/>
          <result column="role_type" property="roleType"/>
        </association>
      </association>
    </association>

    <association property="pallet" javaType="Pallet" column="pallet_id">
      <id column="pallet_id" property="id"/>
      <association property="inboundRequestProduct" javaType="InboundRequestProduct" column="inbound_request_product_id">
        <id column="inbound_request_product_id" property="id"/>
        <result column="expiration_date" property="expirationDate"/>
      </association>
    </association>

    <association property="warehouse" javaType="Warehouse" column="warehouse_id">
      <id column="warehouse_id" property="id"/>
      <result column="warehouse_name" property="name"/>
      <result column="warehouse_code" property="code"/>
      <result column="warehouse_road_address" property="roadNameAddress"/>
      <result column="warehouse_jibun_address" property="jibunAddress"/>
      <result column="warehouse_zipcode" property="zipcode"/>
      <result column="warehouse_details_address" property="detailsAddress"/>

    </association>
  </resultMap>



  <select id="findAll" resultMap="stocks">
    SELECT *
    FROM Stock s
    JOIN Product p
    ON s.product_id = p.product_id
    JOIN Member m
    ON p.company_id = m.member_id
    JOIN Warehouse w
    ON s.warehouse_id = w.warehouse_id
    JOIN Pallet pa
    ON s.pallet_id = pa.id
    JOIN InboundRequestProduct i
    ON pa.inbound_request_product_id = i.id
    <where>

      <if test="stockSearch.stockCode != null and !stockSearch.stockCode.equals('')">
        and s.stock_code = #{stockSearch.stockCode}
      </if>

      <if test="member.roleType.description.equals('총 관리자')">
        and w.warehouse_code = #{stockSearch.warehouseCode}
        and w.warehouse_name = #{stockSearch.warehouseName}
      </if>

      <foreach collection="stockSearch.storeTemperature" item="storeTemperature" open="(" separator="," close=")">
        and p.store_temperature = #{stockSearch.storeTemperature}
      </foreach>

      <foreach collection="stockSearch.productType" item="productType" open="(" separator="," close=")">
        and p.product_type = #{stockSearch.productType}
      </foreach>

      <if test="stockSearch.productName != null and !stockSearch.productName.equals('')">
        and p.product_name = #{stockSearch.productName}
      </if>

      <if test="stockSearch.companyName != null and !stockSearch.companyName.equals('')">
        and m.name = #{stockSearch.companyName}
      </if>

      <if test="stockSearch.expirationDate != null and !stockSearch.expirationDate.equals('')">
        and i.expiration_date  &lt; #{stockSearch.expirationDate}
      </if>

    </where>
  </select>




  <!--누가 상품 등록했는지는 나중에 , 로그인까지 구현해야됨-->
  <update id="update">
    update Stock
    set quantity = #{stock.quantity}  , mod_date = #{LocalDateTime.now()}
    where id = #{id}
  </update>






  <!-- <resultMap id="itemsWithMember" type="Item">
     <id column="id" property="id"/>
     &lt;!&ndash; column : 테이블의 칼럼명 , property : 자바 도메인의 필드명&ndash;&gt;
     <result column="item_name" property="itemName"/>
     <result column="price" property="price"/>
     <result column="stock_quantity" property="stockQuantity"/>
     <result column="register_date" property="registerDate"/>
     <result column="update_date" property="updateDate"/>
     <association property="member" javaType="Member" column="member_id">
       <id property="id" column="id"/>
       <result property="loginEmail" column="login_email"/>
       <result property="password" column="password"/>
       <result property="memberName" column="member_name"/>
       <result property="businessName" column="business_name"/>
       <result property="businessNum" column="business_num"/>
     </association>
   </resultMap>-->



</mapper>
  <!-- 그냥 조인만 하면 전부 다 가져오므로 member_id가 #{id}인 즉 한 회원정보만 가져오게-->
  <!--왜 Item일까 그냥 리턴값  하나하나가 Itemdㅣㄴ가 -->